body {
  margin: 0;
}

header {
  background: rgb(2, 2, 61);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-container h1 {
  font-size: 52px;
  padding: 10px;
}

.head-container h3 {
  font-size: 28px;
  text-align: center; 
}

main .main-contain {
  background: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.main-contain button {
  border: solid black 1px;
  background: whitesmoke;
  color: black;
  border-radius: 7px;
  font-size: 20px;
  padding:10px; 
  margin: 0 30px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results p {
  font-size: 20px;
}

div .scores {
  display: flex;
  flex-direction: row;
}

.scores .player,
.scores .computer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results .player-score,
.results .computer-score {
  height: 100px;
  width: 100px;
  background: black;
  margin: 10px 50px;
  border: solid gray 5px;
  border-radius: 3px;
  color: greenyellow;
  text-align: center;
  font-size: 88px;
}


